# INSTRUCTIONS:
# 1. Copy file `.env.example` into `.env`
# 2. Modify/add any ENVIRONMENT VARIABLES
#
# Add environment variables in this format:
# KEY=VALUE
#
# Each browser-exposed environment variable must use the `VITE_` prefix.
# Variables are available in application code through `import.meta.env`.
#
# SESSION_SECRET=super_long_seacret_that_should_be_replaced

# FlyFast - Flight Search Backend
VITE_FLIGHT_SEARCH=http://localhost:8080

# Aternity APM Collector
# https://hub.docker.com/r/aternity/apm-collector
VITE_OPENTELEMETRY_ENDPOINT=http://localhost:55681