server {
  listen 80;
  
  location / {
    root /usr/share/nginx/html;
    index index.html index.htm;
    try_files $uri $uri/ /index.html =404;
  }

  location /flightsearchapi {
    proxy_pass ${REACT_APP_FLIGHT_SEARCH};
  }

  location /tracingapi {
    rewrite /tracingapi/(.*) /$1 break;
    proxy_pass ${REACT_APP_OPENTELEMETRY_ENDPOINT};
  }
}